@require "components/colors.styl"

html
  font-size 125%
  font-family "Helvetica Neue", "open sans", Helvetica, Arial, sans-serif

body
  font-size 1em
  font-family "Helvetica Neue", "open sans", Helvetica, Arial, sans-serif

.siteHeader
  background UC_Maroon
  color #ffffff
