html
  font-size 125%
  font-family "Helvetica Neue", "open sans", Helvetica, Arial, sans-serif

body
  font-size 1em
  font-family "Helvetica Neue", "open sans", Helvetica, Arial, sans-serif

ul
  list-style-type none
  
header
  background-color rgb(109, 50, 39)
  color white
  
a
  text-decoration none
   
.logo
  margin-top 15px

.logo a
  color white
  
  
.logo a:hover
  text-decoration none
  
.navbar a
  color white
  text-decoration none
  
.navbar li
  float right
  color white
  text-decoration none
  margin 15px 5px 0 5px
  
.navbar a:hover
  color #A6A6A6
  text-decoration none

.center-block  
  text-align center
  margin 15px 0 0 0

.center-block input
  text-align center
  

  

  