UC_Maroon = rgb(128, 0, 0)
UC_DarkGray = rgb(118, 118, 118)
UC_LightGray = rgb(214, 414, 206)

UC_Yellow = rgb(248, 164, 41)
UC_Yellow_light = rgb(249, 182, 78)
UC_Yellow_dark = rgb(198, 130, 32)

UC_Orange = rgb(193, 102, 34)
UC_Orange_light = rgb(211, 147, 99)
UC_Orange_dark = rgb(154, 83, 36)

UC_Red = rgb(143, 57, 49)
UC_Red_light = rgb(186, 123, 118)
UC_Red_dark = rgb(109, 50, 39)

UC_LightGreen = rgb(145, 171, 90)
UC_LightGreen_light = rgb(174, 177, 126)
UC_LightGreen_dark = rgb(101, 109, 51)

UC_DarkGreen = rgb(88, 89, 63)
UC_DarkGreen_light = rgb(140, 144, 127)
UC_DarkGreen_dark = rgb(70, 72, 51)

UC_Blue = rgb(21, 95, 131)
UC_Blue_light = rgb(91, 150, 173)
UC_Blue_dark = rgb(21, 67, 95)

UC_Violet = rgb(53, 14, 32)
UC_Violet_light = rgb(114, 86, 99)

UC_Violator_Cyan = rgb(44, 170, 226)
UC_Violator_Magenta = rgb(236, 0, 140)
