<h1>buttons</h1>
<div id="buttons" class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="square yellow"></div>
        </div>
        <div class="col-xs-4">
            <div class="square orange"></div>
        </div>
        <div class="col-xs-4">
            <div class="square violet"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="square darkGreen"></div>
        </div>
        <div class="col-xs-4">
            <div class="square lightGreen"></div>
        </div>
        <div class="col-xs-4">
            <div class="square red"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="square blue"></div>
        </div>
        <div class="col-xs-4">
            <div class="square orangeDark"></div>
        </div>
        <div class="col-xs-4">
            <div class="square yellowDark"></div>
        </div>
    </div>
</div>
