<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
</head>
<body>
  <div class="container-fluid">
    <div class="row siteHeader">
        <div class="container-fluid">
            <header class="row mainHeader">
                <div class="col-md-3 logo">
                  <a href="localhost:4200">Ideas <img src="assets/images/lightbulb3-simple-black-icon-512.png"> UChicago</a>
                </div>
                <div class="col-md-6 navbar">
                  <ul>
                    <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Account</a></li>
                    <li><a><span class="glyphicon glyphicon-user"></span>New Idea</a></li>
                    <li><a><span class="glyphicon glyphicon-user"></span>Vote</a></li>
                    <li><a><span class="glyphicon glyphicon-user"></span>Contribute</a></li>
                    <li><a><span class="glyphicon glyphicon-user"></span>Trending</a></li>
                  </ul>
                </div>
            </header>
        </div>
    </div>
    <div class="row center-block">
        <input class="form-control" type="search" placeholder="Search..." autofocus="true">
    </div>
    <table class="table table-striped">
      <tbody>
        <tr class="no-top">
          <td class="no-top">This is the first idea...</td>
        </tr>

        <tr>
          <td>This is the second idea...</td>
        </tr>

        <tr>
          <td>This is the third idea...</td>
        </tr>

        <tr>
          <td>This is the fourth idea...</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>

