<div class="container-fluid">
    <header class="row">
        <div class="col-md-6 col-xs-12 logoContainer">
            <div class="logo">Ideas | UChicago</div>
          {{#if session.token}}
            {{#link-to
            'account'
            session.user
            tagName="i"
            class="glyphicon glyphicon-settings col-xs-1 col-md-hidden"}}{{/link-to}}
          {{/if}}
        </div>
        <div class="col-md-6 col-xs-hidden accountInfo">
          {{#if session.token}}
              <a {{action "logout"}}>Logout</a>
            {{#link-to
            'account'
            session.user
            tagName="div"
            class="glyphicon glyphicon-settings"}}{{/link-to}}
          {{/if}}
        </div>
    </header>
    <nav class="row">
        <ul>
            <li>Featured</li>
            <li>Trending</li>
            <li>New</li>
          {{#if session.token}}
              <li>Your Ideas</li>
          {{/if}}
            <li>Guidelines</li>
            <li>Submit!</li>
        </ul>
    </nav>
    <div class="row ideaSearch">
        <input type="text" placeholder="search" autofocus="true">
    </div>
  {{outlet}}
    <footer class="row">
        <p>Brought to you by Edge 101 (':</p>
    </footer>
</div>

