<div class="container-fluid">
  <div class="row siteHeader">
      <div class="container-fluid">
          <header class="row mainHeader">
              <div class="col-md-3 logo">
                <a href="localhost:4200">Ideas | UChicago</a>
              </div>
              <div class="col-md-9 navbar">
                <ul>
                  <li><a><span class="glyphicon glyphicon-user"></span>user.name</a></li>
                  <li><a><span class="glyphicon glyphicon-user"></span>New Idea</a></li>
                  <li><a><span class="glyphicon glyphicon-user"></span>Contribute</a></li>
                  <li><a><span class="glyphicon glyphicon-user"></span>Vote</a></li>
                </ul>
              </div>
          </header>
      </div>
  </div>
  <div class="row center-block">
      <input type="text" placeholder="search" autofocus="true">
  </div>
  <div class="row">
    <img src="https://my.vetmatrixbase.com/clients/12679/images/Gorgeous_puppies.jpg">
  </div>
</div>

